body{
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
    background-image: url(fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #8C1663;
    text-align: center;
    height: 5%;
}
.izquierda {
    background:url(image.png);
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 100vh;  
}
.titulo {
    color:#8C1663;
}

.derecha {
    background:#F2D43D;
    height: 100vh;
    width: 50%;
    text-align: center;
}
.pantallaBienvenida {
    display: flex;   
}
h1 {
    color:#F2F2F2;
    font-size: 60px;
    margin-bottom: 5px;
    text-align: center;

}
h3{
    color:#F2F2F2;
    font-size: 40px;
    margin-bottom: 5px;
    text-align: center;
    margin-top: 0px;
}
p {
    color:#A6147F;
    font-size: 24px;
    line-height: 33px;
    width: 50%;
    margin:auto;
    text-align:center;
    padding: 30px;
    display: table-cell;
}
h2 {
    text-align: center;
    font-size: 25px;
    color: #A6147F;
}
button {
    border: 3px solid #A6147F;
    color:#A6147F;
    padding: 25px;
    text-decoration: none;
    border-radius: 20px;
    display: inline-block;
    margin-top: 0px;
    margin-left: 8px;
    font-size: 15px;
    font-weight: bold;
}
.pantallaFormulario {
    height: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    font-family: 'Playfair Display', serif;
}
.formulario {
    border: 1px #8c1663;
    background: #8c1663;
    width: 500px;
    border-radius: 10px;
    margin-top: 5%;
}
.formularioValidacion{
    width: 100%;
    padding: -2px 20px;
    margin: 4px 0;
    display: inline-block;
    box-sizing: border-box;
    background: #8c1663;
    margin-bottom: -9px;
}
.formularioIndex{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}
.label {
    font-size: large;
    color: white;
    font-family: 'Playfair Display', serif;
}
.celda {
    width: 100%;
    padding: 4px 20px;
    margin: 3px 0;
    border: 0px;
    box-sizing: border-box;
    background-color: #FFFEE6;
    border-radius: 10px;
}
.btnValidar {
    border: 0px;
    padding: 10px;
    border-radius: 5px;
    background-color: #F2D43D;
    color: #8c1663;
    cursor: pointer;
    display: inline-block;
    font-family: 'Playfair Display', serif;
}
.mensajeValidado{
    color: #F2D43D;

}
.btnEnviar {
    border: 0px;
    padding: 10px;
    border-radius: 5px;
    background-color: #F2D43D;
    color: #8c1663;
    cursor: pointer;
    display: inline-block;
    margin-left: 150px;
    font-family: 'Playfair Display', serif;}
    
.ti{
    color: #F2D43D;
}
.tituloFormulario{
    font-family: Arial, Helvetica, sans-serif;
    color: #F2D43D;

}
.legend{
    font-family: Arial, Helvetica, sans-serif;
    color: #F2D43D;
}
fieldset{
    margin-bottom: 2px;
}
.pantalla3{
    height: 100%;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    font-family: 'Playfair Display', serif;
}
.mensaje {
    border: 1px #8c1663;
    background: #8c1663;
    width: 500px;
    border-radius: 10px;
    height: 780px;
    margin-left: 37%;
    margin-top: 5%;
}
   
h4 {
    color: #F2F2F2;
    font-size: 24px;
    line-height: 33px;
    width: 50%;
    margin:auto;
    text-align:center;
    padding: 30px;
    display: table-cell;
}
.gracias{
    color: #F2D43D;
}
.footer{
    height: 35px;
    color:#db5fba;

}
.redes{
    background-size: 100px;
}